
.courcehead {
  color: #BB86FC;
}

h2 {
  color: #BB86FC;
}
b {
  color: #BB86FC;
}
#scrolltop {
  background-color: #BB86FC;
}
.topiclink svg:hover {
  fill: #BB86FC;
}
.f-hline{
  background-color: rgba(187, 134, 252, 0.300);
}
