#mobNav{
  border: 1px solid red;
}
#searchBar_btn{
  color :white;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
#mainBox{
  position: relative;
}
#searchBar{
  height: 100%;
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}
#inputDiv{
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}
#inputDiv input{
  width: 99%;
  padding: 5px;
  background: #121212;
  color: #EEEEEE;
  outline: none;
  border: none; 
  border-bottom: 3px solid rgba(187, 134, 252, 0.200);
  margin: 5px 0px 10px 0px;
  font-size: large;
}
#inputDiv input:focus{
  border-bottom: 3px solid rgba(187, 134, 252, 0.500);
    outline: none;
}

#loadDiv{
    min-height: 120px;
    margin-bottom: 10px;
    width: 100%;
}
.same{
  background-color:  #121212;
  color: #EEEEEE;
  padding: 2px 1px 1px 16px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
}

#loadDiv button:hover {
    background-color:rgba(187, 134, 252, 0.100);
    color: white;
}
#searchButton{
    border: none;
    padding: 10px 8px;
    outline: none;
    color: #f2f2f2;
    background-color: #414141;
    cursor: pointer;
}
#searchButton:hover{
    background-color: #BB86FC;
}
#titleBody{
    border-left: 3px solid rgba(187, 134, 252, 0.200);
    margin-left: 250px;
    color: white;
    min-height: 800px;
    padding: 10px;
    font-size: 120%;
}
.courcehead {
    color: #BB86FC;
  }
  h2 {
    color: #BB86FC;
  }
  .paint3 {
    text-decoration: underline;
    text-decoration-color: #BB86FC;
  }
  b {
    color: #BB86FC;
  }
  .active{
    background-color: #BB86FC;
  }
  /**/
  .heading {
    font-size: 200%;
  }
  
  .tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }
  table,th,td {
    border: 1px solid dimgray;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    color: white;
  }
  th,
  td {
    padding: 10px;
  }
  td {
    text-align: left;
  }
  .topicby{
    margin-left: 80%;
  }
  .ytcont {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 40.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    display: none;
  }
  .responsiveif {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  #titleBody p{
    white-space: pre-line;
    width: 100%;
  }
  @media (max-width : 700px){
    #titleBody{
      margin-left: 0;
    }
    #searchBar{
      width: 0;
    }
  }