.same{
    background-color:  #121212;
    margin: 10px;
    color: #EEEEEE;
    padding: 18px 12px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 105%;
}
#inputDiv{
  margin-top: 10px;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}
input{
    padding: 5px;
    background: #121212;
    color: #EEEEEE;
    outline: none;
    border-bottom: 3px solid rgba(187, 134, 252, 0.200);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 30%;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
    font-size: large;
    transition: width 1s;
}
input:focus{
  border-bottom: 3px solid rgba(187, 134, 252, 0.500);
    outline: none;
    transition: 0.5s;
}
input[type=text]:focus {
  width: 70%;
}
#loadDiv{
    background-color:  rgba(187, 134, 252, 0.100);
    min-height: 120px;
    margin-bottom: 10px;
}
#loadDiv button:nth-child(even) {
    background-color: #EEEEEE;
    color: black;
}

#loadDiv button:hover {
    background-color:rgba(187, 134, 252, 0.100);
    color: white;
}
#searchButton{
    border: none;
    padding: 10px 8px;
    outline: none;
    color: #f2f2f2;
    background-color: #414141;
    cursor: pointer;
}
#searchButton:hover{
    background-color: #BB86FC;
}
#titleBody{
    border: 3px solid rgba(187, 134, 252, 0.200);
    border-radius: 5px;
    width: 100%;
    color: white;
    min-height: 800px;
    padding: 10px;
    font-size: 120%;
}
.courcehead {
    color: #BB86FC;
  }
  h2 {
    color: #BB86FC;
  }
  .paint3 {
    text-decoration: underline;
    text-decoration-color: #BB86FC;
  }
  b {
    color: #BB86FC;
  }
  .active{
    background-color: #BB86FC;
  }
  /**/
  .heading {
    font-size: 200%;
  }
  
  .tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }
  table,th,td {
    border: 1px solid dimgray;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    color: white;
  }
  th,
  td {
    padding: 10px;
  }
  td {
    text-align: left;
  }
  .topicby{
    margin-left: 80%;
  }
  .ytcont {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 40.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    display: none;
  }
  .responsiveif {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  @media (max-width : 600px){
    input {
      width: 70%;
    }
    input[type=text]:focus {
      width: 80%;
    }
  }