/*------ucontent------*/
#ucontent {
    /*border: 1px solid red;*/
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding-left: 1%;
  }
  #imageDiv {
    /*border: 1px solid green;*/
    width: fit-content;
    text-align: center;
  }
  #imageDiv button {
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 8px;
    color: white;
    background-color: black;
    margin-top: 5px;
  }
  #ucontent img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    padding: 0;
    margin: 0;
  }
  #usernameDiv {
    /*border: 1px solid yellow;*/
    padding: 5px;
    margin: 10px;
    height: fit-content;
    font-size: x-large;
    color: gray;
    overflow: hidden;
  }
  #username {
    font-size: xx-large;
    color: white;
  }

  