.topic {
  border-right : 2px solid #179942;
  border-bottom : 2px solid #179942;
}
.unit {
  border-bottom: 3.5px solid #179942;
}
.subject {
  border-bottom : 4px solid #179942;
  border-top : 4px solid #179942;
}
.topic button.active {
  color: white;
  background-color: #179942;
}
.topic button:hover {
  color: white;
  background-color: #179942bd;
}

.unit button:hover {
  color: white;
  background-color: #179942bd;
}

.subject button:hover {
  color: white;
  background-color: #179942bd;
}

.selectsub.active {
  color: white;
  background-color: #179942;
}
.selectsub:hover {
  color: white;
  background-color: #179942;
}
.courcehead {
  color: #179942;
}
.paint {
  color: #179942;
  font-size: 140%;
}
.paint2 {
  color: #179942;
}
h2 {
  color: #179942;
}
.paint3 {
  text-decoration: underline;
  text-decoration-color: #179942;
}
.paint4 {
  background-color: #179942;
  border-radius: 5px;
}
b {
  color: #179942;
}
#defaultOpen {
  background-color: #179942;
}
#defaultOpen2 {
  background-color: #179942;
}
#scrolltop {
  background-color: #179942;
}
.topiclink svg:hover {
  fill: #179942;
}
.f-hline{
  background-color: #179942;
}
.ytcont{
  border: 1px solid #179942;
}
/*--nav---*/
#navDiv {
  border: 1px solid red;
  width: 100%;
  margin-top: 10px;
  padding: 1px;
}
#navDiv a { 
  color: white;  
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #179917;
  margin-top: 10px;
  margin-right: calc(100% - 99%);
  font-family: "Megrim";
  font-size: 400%;
  letter-spacing: 10px;
  /*margin-left: 5%;*/
}

@media (max-width: 521px) {
  .topic {
    border-right: none;
  }
}