*{
  box-sizing: border-box;
}
.topic {
  border-right : 2px solid #179942;
  border-bottom : 2px solid #179942;
}
.unit {
  border-bottom: 3.5px solid #179942;
}
.subject {
  border-bottom : 4px solid #179942;
  border-top : 4px solid #179942;
}
.topic button.active {
  color: white;
  background-color: #179942;
}
.topic button:hover {
  color: white;
  background-color: #179942bd;
}

.unit button:hover {
  color: white;
  background-color: #179942bd;
}

.subject button:hover {
  color: white;
  background-color: #179942bd;
}

.selectsub.active {
  color: white;
  background-color: #179942;
}
.selectsub:hover {
  color: white;
  background-color: #179942;
}
.courcehead {
  color: #179942;
}
.paint {
  color: #179942;
  font-size: 140%;
}
.paint2 {
  color: #179942;
}
h2 {
  color: #179942;
}
.paint3 {
  text-decoration: underline;
  text-decoration-color: #179942;
}
.paint4 {
  background-color: #179942;
  border-radius: 5px;
}
b {
  color: #179942;
}
#defaultOpen {
  background-color: #179942;
}
#defaultOpen2 {
  background-color: #179942;
}
#scrolltop {
  background-color: #179942;
}
.topiclink svg:hover {
  fill: #179942;
}
.f-hline{
  background-color: #179942;
}
.ytcont{
  border: 1px solid #179942;
}
/*--nav---*/
#navDiv {
  /*border: 1px solid red;*/
  width: 100%;
  padding: 0px 5px;
  display: inline-flex;
  align-items: center;
}
#navDiv img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  margin-right: 2px; 
}

#navDiv a { 
  font-size: 200%;
  color: white;  
  text-decoration: none;
  cursor: pointer;
  margin-right: calc(100% - 98%);
}
#navDiv a:nth-child(1) {
  letter-spacing: 10px;
  font-size: 400%;
  font-family: "Megrim"; 
}
#navDiv a:nth-child(3) {
  color: #179917;
  margin-left: calc(100% - 98%); 
}
#userDiv {
  display: inline-flex;
  align-items: center;
}
#selectDiv {
  border: 1px solid #179917;
  padding: 5px;
  display: none;
}

#selectDiv button {
  outline: none;
  border: none;
  padding: 10px 8px;
  margin: 5px;
  color: white;
  background: black;
  cursor: pointer;
  border-radius: 3px;
}
#topicBy {
  text-align: right;
  margin-top: 5px;
}

/*------ucontent------*/
#ucontent {
  /*border: 1px solid red;*/
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding-left: 1%;
}
#imageDiv {
  /*border: 1px solid green;*/
  width: fit-content;
  text-align: center;
}
#imageDiv button {
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 8px;
  color: white;
  background-color: black;
  margin-top: 5px;
}
#ucontent img {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  padding: 0;
  margin: 0;
}
#usernameDiv {
  /*border: 1px solid yellow;*/
  padding: 5px;
  margin: 10px;
  height: fit-content;
  font-size: x-large;
  color: gray;
}
#username {
  font-size: xx-large;
  color: white;
}

@media (max-width: 521px) {
  .topic {
    border-right: none;
  }
  #navDiv {
    display: block;
    align-items: center;
  }
  #user{
    display: none;
  }
}